[defaults]
remote_user = ansible
host_key_checking = False

[ssh_connection]
# Indica ad Ansible di usare il nostro script per le connessioni
ssh_executable = ./openbao-ssh.sh

# Fondamentale: il Multiplexing fa sì che il Wrapper venga eseguito 1 sola volta a inizio playbook!
ssh_args = -o ControlMaster=auto -o ControlPersist=60m
